<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034490236831-bfle20ailb49mks85m54mt4bemro1852.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034490236831-bfle20ailb49mks85m54mt4bemro1852</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034490236831-nbor4s76mkesbmed7bu24i5pa7p4ijtl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl52p6UT3ZAxcuRIRQN34U-tHBPor0FXU</string>
	<key>GCM_SENDER_ID</key>
	<string>1034490236831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scheduler.swifthire</string>
	<key>PROJECT_ID</key>
	<string>swifthire-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>swifthire-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034490236831:ios:d6b4b5267420c2ba2477aa</string>
</dict>
</plist>